.form-content {
    background: map-get($grayscale, white);
    border-radius: .8rem;
    box-shadow: 0 .3rem .6rem #00000045;
    margin: 4rem auto 0;
    max-width: calc(100% - 3.2rem);
    min-height: 70.4rem;
    overflow: hidden;
    padding: 10rem 1.6rem 3rem;
    position: relative;
    width: 100%;
    &::before {
        background: url(../../../public/img/forms/form-top.png) no-repeat map-get($grayscale, black);
        background-size: cover;
        content: '';
        display: block;
        height: 5.5rem;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
    .form {

        &__fieldset {
            display: grid;
            gap: 2rem;
            width: 100%;
            &.tyc {
                margin-bottom: 2rem;
            }
        }
        &__title {
            font: normal 1.8rem / 2.6rem $font-secondary;
            text-align: center;
        }
        &__links {
            margin-top: 3rem;
            a {
                color: map-get($grayscale, gray-40);
                display: flex;
                flex-direction: column;
                font: normal 1.6rem / 2.2rem $font-primary;
                text-align: center;
            }
        }
        &__btn {
            button {
                border-color: map-get($primary, general);
                color: map-get($grayscale, black);
                font: bold 1.8rem / 2.4rem $font-primary;
                margin: auto;
                padding: 1rem 2.5rem;
                width: fit-content;
            }
        }
    }
}

@include mq-min(md) {
    .form-content {     
        max-width: 68.8rem;
        padding-top: 11rem;
        &::before {
            height: 7.1rem;
        }
        .form {
            &__fieldset {
                max-width: 38rem;
                margin: auto;
            }
        }
    }
}


@include mq-min(lg) {
    .form-content {     
        max-width: 96.8rem;
        .form {
            &__fieldset {
                gap: 3rem;
                max-width: 38rem;
                margin: auto;
                &.tyc {
                    max-width: 53rem;
                    margin-bottom: 3rem;
                }
            }
        }
    }
}


// LOGIN STYLES 
.form {
    &__top {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 1.7rem;
        &__title {
            color: map-get($primary, general);
            font: 900 2.5rem / 3.4rem $font-primary;
        }
        &__img {
            display: grid;
            place-content: center;
            position: relative;
            width: 100%;
            &::before,
            &::after {
                background: map-get($primary, general);
                content: '';
                display: block;
                height: .2rem;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 35%;

            }
            &::before {
                left: -1.6rem;
                @include mq-min(sm) { left: 0; }
            }
            &::after {
                right: -1.6rem;
                @include mq-min(sm) { right: 0; }

            }
            svg {
                background: map-get($grayscale, white);
                border-radius: 50%;
                position: relative;

            }
        }
    }
}

// STEPS FORMS
.form {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    textarea {
        min-height: 15rem;
    }
    .submit {
        max-width: 15.1rem;
        padding:  0.6rem 2rem;
    }
    &__registerCompany {
        .fieldset {
            display: flex;
            gap: 2rem;
            > div {
                &:first-child {
                    max-width: calc(40% - 1rem);
                }
                &:nth-child(2) {
                    max-width: calc(60% - 1rem);
                }
            }
        }
        label span {
            font-size: inherit !important;
        }
    }
    .title {
        &-step {
            display: block;
            font: 400 2.2rem / 2.4rem $font-secondary;            
            position: relative;
            width: 100%;
            &::before {
                background: map-get($primary, general);
                content: '';
                display: block;
                height: .2rem;
                left: -2rem;
                position: absolute;
                top: 50%;
                transform: translateY(50%);
                width: calc(100% + 4rem);
            }
        }
        &-text {
            background: map-get($grayscale, white);
            font-weight: normal;
            max-width: 20rem;
            position: relative;
            padding: 0 1rem 0;
            width: 100%;
        }
    }
    &-subTitle {
        font: normal 1.6rem / 2.2rem $font-primary;     
        h3 {
            display: inline;
            font-weight: normal;
        }
    }
    &-files {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
    }
}

@include mq-min(md) {
    .form {
        &.step2 {
            margin: auto;
            max-width: 37.9rem;
            width: 100%;
        }
        &.step3 {
            margin: auto;
            max-width: 47.9rem;
            width: 100%;
            .form-subTitle {
                margin-left: -5rem;
            }
        }
        &.step4 {
            flex-direction: row;
            flex-wrap: wrap;
            max-width: 96.2rem;
            width: 100%;
            > div {
                width: calc(50% - 1.2rem);
            }
            .form-subTitle {
                width: 100%;
            }
            input[type=file] {
                margin: 0;
            }
            picture {
                max-width: 57.8rem;
                width: 100%;
            }
        }
    }
}