*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: $font-primary;
  background: map-get($primary, ligth);
  overflow-x: hidden;
}

main {
  overflow: hidden;
}

a,
button {
  cursor: pointer;
}
