/////// swiper categories styles ///////
.swiper {
  padding-bottom: 10rem;
  .swiper {
    &-pagination {
      align-items: center;
      bottom: 2rem;
      display: flex;
      justify-content: center;
      padding: 0 3.2rem;

      &-bullet {
        background: map-get($grayscale, black);
        height: 1.2rem;
        opacity: 1;
        width: 1.2rem;

        &-active {
          background: map-get($primary, general);
          height: 1.6rem;
          width: 1.6rem;
        }
      }
    }
    &-button-next,
    &-button-prev {
      background: map-get($primary, general);
      border-radius: 50%;
      bottom: 1.5rem;
      top: initial;
      height: 3.2rem;
      width: 3.2rem;
      z-index: 11;

      &::after {
        font-size: 1rem;
        font-weight: bolder;
        color: map-get($grayscale, white);
      }
    }
    &-button-next {
      margin-right: 2rem;
      @include mq-min(md) {
        right: 30%;
      }
    }
    &-button-prev {
      margin-left: 2rem;
      @include mq-min(md) {
        left: 30%;
      }
    }
  }
  &.swiper__primary {    
    padding-bottom: 3rem;
    .swiper {
      &-pagination {
        &-bullet {
          background: map-get($grayscale, gray-30);
          &-active {
            background: map-get($primary, general);
          }
        }
      }

      &-button-next,
      &-button-prev {
        background: map-get($primary, general);
        &::after {
          color: map-get($grayscale, white);
        }
      }
    }
  }
  &__grayscale__swiper {
    padding: 0 2.5rem 10rem;
    .swiper {
      &-pagination {
        &-bullet {
          &-active {
            background: map-get($primary, base);
          }
        }
      }
      &-button-next,
      &-button-prev {
        background: map-get($grayscale, gray-90);
      }
    }
  }
}

@include mq-min(lg) {
  .swiper {
    max-width: 120rem;
    padding-top: 5rem;
    &.swiper__primary { 
      padding-top: 5rem;
      padding-bottom: 8rem;
      &::before,
      &::after {
        background: transparent
        linear-gradient(271deg, #ffffff00 0%, #ffffff 100%) 0% 0% no-repeat padding-box;
        position: absolute;
        content: '';
        height: 100%;
        top: 0;
        width: 14rem;
        z-index: 3;
      }
      .swiper {
        &-slide-active {
          transform: scale(1.1);
          z-index: 2;
        }
        &-button-next {
          right: 1%;
          top: 50%;
        }
        &-button-prev {
          left: 1%;
          top: 50%;
        }
      }
    }
    &::before {
      left: -0.2rem;
    }
    &:after {
      transform: rotate(180deg);
      right: -0.2rem;
    }
  }
  .noBackground {
    &::before,
    &::after {
      background: transparent !important;
    }
  }
  .noPaginatorDesktop {
    .swiper {
      &-pagination {
        display: none !important;
      }
    }
  }
}

/////// swiper judges styles ///////
.swiper {
  &__judges {
    padding: 0 0 6rem;
    .swiper {
      &-pagination {
        gap: 2px;
        &-bullet {
          background: map-get($grayscale, white);
          gap: 2px;
          &-active {
            background: map-get($grayscale, black);
            border: 1px solid map-get($grayscale, white);
          }
        }
      }
      &-button-prev,
      &-button-next {
        background: url(../../../public//img//icon/arrow-next.svg) center no-repeat map-get($grayscale, white);
        &::after, &::before {
          color: transparent;
        }
      }
      &-button-prev {
        transform: rotate(-173deg);
      }
    }
  }
}  
