*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  font-family: $font-primary;
  background: map-get($primary, ligth);
}


a,
button {
  cursor: pointer;
}

/////// swiper categories styles ///////
.swiper.categories__swiper {
  max-width: 35.5rem;
  padding-bottom: 10rem;
  @include mq-min(md) {
    max-width: initial;
  }
  .swiper {
    &-pagination {
      align-items: center;
      bottom: 2rem;
      display: flex;
      justify-content: center;
      padding: 0 3.2rem;
      
      &-bullet {
        background: map-get($grayscale, gray-30);
        height: 1.2rem;
        width: 1.2rem;

        &-active {
          background: map-get($primary, base);
          height: 1.6rem;
          width: 1.6rem;
        }
      }
    }

    &-button-next,
    &-button-prev {
      background: map-get($primary, base);
      border-radius: 50%;
      bottom: 1.5rem;
      top: initial;
      height: 3.2rem;
      width: 3.2rem;
      z-index: 11;

      &::after {
        font-size: 1rem;
        font-weight: bolder;
        color: white;
      }
    }

    &-button-next {      
      @include mq-min(md) {
        right: 30%;
      }
    }
    &-button-prev {
      @include mq-min(md) {
        left: 30%;
      }
    }
  }
}