// ---------------- Open Sans ---------------


@font-face {
    font-family: 'Open Sans';
    src: url('../../fonts/open-sans/OpenSans-Bold.woff2') format('woff2'),
        url('../../fonts/open-sans/OpenSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../fonts/open-sans/OpenSans-Regular.woff2') format('woff2'),
        url('../../fonts/open-sans/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../fonts/open-sans/OpenSans-SemiBold.woff2') format('woff2'),
        url('../../fonts/open-sans/OpenSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

// ---------------- Tiempos Headline ---------------

@font-face {
    font-family: 'Tiempos Headline';
    src: url('../../fonts/tiempo-headline/TiemposHeadline-Regular.woff2') format('woff2'),
        url('../../fonts/tiempo-headline/TiemposHeadline-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tiempos Headline';
    src: url('../../fonts/tiempo-headline/TiemposHeadline-Bold.woff2') format('woff2'),
        url('../../fonts/tiempo-headline/TiemposHeadline-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tiempos Headline';
    src: url('../../fonts/tiempo-headline/TiemposHeadline-Medium.woff2') format('woff2'),
        url('../../fonts/tiempo-headline/TiemposHeadline-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tiempos Headline';
    src: url('../../fonts/tiempo-headline/TiemposHeadline-Semibold.woff2') format('woff2'),
        url('../../fonts/tiempo-headline/TiemposHeadline-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

