// ==========================================================================
// FontStack
// ==========================================================================

$font-size         : 1.6rem;
$font-primary      : 'Open Sans', sans-serif;

// ==========================================================================
// Colors
// ==========================================================================

$primary: (
   light: #80CABF,  
   base : #029581,  
   dark : #006857,  
);

$secondary: (
   base: #D79C26,
);

$grayscale: (
   white:   #fff,
   gray-10: #FDFDFD,
   gray-20: #BFBFBF,
   gray-30: #636363,
   gray-40: #2F323C,
   gray-50: #333,   
   black:   #000,
);

// ==========================================================================
// Breakpoints
// ==========================================================================

$breakpoints: (
    m  : 321px,
   sm  : 540px,
   md  : 720px,
   lg  : 960px,
   xl  : 1140px,
   x   : 1280px
);