// ==========================================================================
// FontStack
// ==========================================================================

$font-size: 1rem;
$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Tiempos Headline', sans-serif;

// ==========================================================================
// Colors
// ==========================================================================

$primary: (
  general: #31abaa,
  base: #029581,
  dark: #006857,
);

$secondary: (
  base: #111110,
  active: #d79c26,
);
$alert: (
  base: #c51010,
  light: #ffebeb,
);

$grayscale: (
  white: #fff,
  gray-10: #fdfdfd,
  gray-20: #bfbfbf,
  gray-25: #a0a0a0,
  gray-30: #636363,
  gray-40: #2f323c,
  gray-50: #333,
  gray-90: #111110,
  black: #000,
);

$categories: (
  export: #be023d,
  environment: #9ac700,
  client: #5e3685,
  digital: #0c95ae,
  master: #58c0cb,
  student: #2b66c0,
  social: #eb672c,
  leader: #a45386,
  humanResourses: #4b9b31,
  innovation: #e24c5e,
  community: #d42e89,
);

// ==========================================================================
// Breakpoints
// ==========================================================================

$breakpoints: (
  m: 321px,
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  x: 1280px,
  xxl: 1440px,
  super-xl: 1920px,
);

// ==========================================================================
// Alignment
// ==========================================================================

$alignment: left, center, right, justify;
