@import '../config/variables';
@import '../config/mixins';

.banner {
  background: map-get($grayscale, black);
  color: map-get($grayscale, white);
  font-size: 1.6rem;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;

  min-height: 297px;

  span {
    position: static !important;
  }

  &__bgMain {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;

    img {
      height: 100%;
      object-position: top center;
      width: 100%;
    }
  }

  &__link {
    align-items: center;
    color: map-get($grayscale, white);
    display: flex;
    font: bold 2rem / 2.7rem $font-primary;
    gap: 0 1.6rem;
    padding: 0.4rem 0;
    place-content: center;
    text-decoration: none;
    width: 100%;
  }

  &__logo,
  &__text {
    margin: 0 auto;
    width: 100%;
    z-index: 2;
  }

  &__logo {
    height: 19.4rem;
    position: relative;
    width: 20.8rem;

    img {
      object-fit: contain;
      height: 100%;
      width: 100%;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 7.7rem 2rem 0;
    position: relative;
  }

  &__text {
    font: normal 1.8rem / 2.4rem $font-primary;
    max-width: 29.7rem;
    z-index: 2;
  }

  &__hashtag {
    background: map-get($grayscale, white);
    text-decoration: none;
    color: map-get($grayscale, black);
    border-radius: 0.4rem;
    font: bold 1.8rem / 2.8rem $font-primary;
    padding: 0.6rem 1.4rem;
    margin: 0 auto;
    width: fit-content;
    z-index: 2;
  }

  &__prize {
    position: relative;
    height: 27rem;
    margin: auto;
    max-width: 36rem;
    width: 100%;
    img {
      object-fit: contain;
    }

    &__phrase {
      margin-top: 5rem;
      position: relative;
      width: 18rem;
    }
    &__award {
      bottom: -0.3rem;
      position: absolute;
      right: -1rem;
    }
  }
}

@media (min-width: 400px) {
  .banner {
    &__prize {
      &__phrase {
        width: 21.8rem;
      }
    }
  }
}

@include mq-min(xl) {
  .banner {
    &__logo {
      height: 32.6rem;
      width: 34rem;
    }
    &__content {
      gap: 3.6rem;
      max-width: 560px;
      margin: auto;
      position: relative;
    }
    &__text {
      font-size: 2.2rem;
      margin-bottom: 3rem;
      max-width: 56rem;
      line-height: 1.5;
    }
    &__hashtag {
      font-size: 2rem;
      line-height: 1.5;
    }
  }
}

@include mq-min(xl) {
  .banner {
    &__content {
      padding: 4.2rem 0 9rem;
    }
    &__hashtag {
      font-size: 2.5rem;
      line-height: 4rem;
    }
    &__prize {
      bottom: 0;
      height: 65rem;
      position: absolute;
      right: -30rem;
      top: initial;
      img {
        object-position: top right;
      }
      &__phrase {
        height: 10.8rem;
        margin: 0;
        width: 32.4rem;
      }
      &__award {
        height: 55rem;
        right: 0;
        width: 44.2rem;
      }
    }
  }
}

@include mq-min(xxl) {
  .banner {
    &__logo {
      height: 38.6rem;
      width: 41.8rem;
    }
    &__text {
      font-size: 2.6rem;
      margin-bottom: 3rem;
      max-width: 56rem;
      line-height: 3.2rem;
    }
    &__socialMedia {
      ul {
        justify-content: center;
        gap: 0 5.6rem;
        margin-top: 1.8rem;
        max-width: inherit;
        svg {
          height: 4.7rem;
          width: 4.7rem;
        }
        li:nth-child(3) svg {
          width: 6.5rem;
        }
      }
    }
    &__prize {
      bottom: 0;
      height: 74.5rem;
      position: absolute;
      right: -30rem;
      top: initial;
      img {
        object-position: top right;
      }
      &__phrase {
        height: 10.8rem;
        margin: 0;
        width: 35.4rem;
      }
      &__award {
        height: 63.3rem;
        right: -4rem;
        width: 44.2rem;
      }
    }
  }
}
