@import '../config/variables';
@import '../config/mixins';

.contactBlock {
    border-top: .4rem solid map-get($primary, general);
    text-align: center;
    &__container {
        display: grid;
        gap: 1.6rem;
        padding: 3.9rem 1.7rem 0;
    }
    &__title {
        color: map-get($primary, general);
        font: bold 3rem / 4.2rem $font-secondary;
    }

    &__info {
        color: map-get($grayscale, gray-50);
        font: normal 2.4rem / 3rem $font-primary;
        a {
            font-weight: 700;
            text-decoration: none;
        }
        strong, a {
            color: map-get($primary, general);
        }
    }
}

@include mq-min(md) {
    .contactBlock {
        margin: auto;
        max-width: calc(100% - 8rem);
        width: 100%;
        &__container {
            padding: 3.2rem 5.2rem 0; 
            gap: 1.8rem;
        }
        &__title {
            font-size: 3rem;
            line-height: 3.4rem;
        }
    }
}

@include mq-min(xl) {
    .contactBlock {
        &__title {
            font-size: 3.4rem;
            line-height: 4.8rem;
        }
    }
}

@include mq-min(super-xl) {
    .contactBlock {
        max-width: 120rem;
    }
}