@import '../config/mixins';
@import '../config/variables';

.morePortafolio {
  display: flex;
  flex-direction: column;
  gap: 2.6rem;
  padding: 12.5rem 0 8.5rem;
  width: 100vw;
  margin: auto;
  &__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 120rem;
    padding-left: 2.25rem;
    text-align: left;
    font: normal normal bold 3.2rem/4.4rem Tiempos Headline;
    letter-spacing: 0px;
    color: map-get($primary, base);
    hr {
      width: calc(100% - 29rem);
      height: 0.1rem;
      margin: auto 0;
      border: 0.1rem solid map-get($primary, base);
    }
  }
  &__carrousel {
    display: block;
  }
  &__block {
    display: none;
  }
}

@include mq-min(xl) {
  .morePortafolio {
    padding: 8.5rem 3.2rem;
    &__title {
      max-width: 120rem;
      width: 100%;
      margin: auto;
      font: normal normal bold 3.6rem/5rem Tiempos Headline;
      padding-left: 0;
      hr {
        width: calc(100% - 33rem);
      }
    }
    &__carrousel {
      display: none;
    }
    &__block {
      display: flex;
      gap: 1.8rem;
      max-width: 120rem;
      justify-content: space-between;
      width: 100%;
      margin: auto;
    }
  }
}
