@import '../config/mixins';
@import '../config/variables';

.winners {
  background: map-get($grayscale, white);
  min-height: 45rem;
  width: 100%;
  margin: 6rem auto 0;
  padding: 3.4rem 0 3.4rem;
  position: relative;
  z-index: 10;
  &__title {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font: normal normal bold 3.2rem/3.3rem $font-secondary;
    padding: 0 2.6rem;
    hr:first-child {
      display: none;
    }
    hr {
      display: block;
      width: 22.5rem;
      height: 0.1rem;
      margin: 2.3rem auto;
      border: 0.15rem solid map-get($primary, base);
    }
  }
}

@include mq-min(xl) {
  .winners {
    min-height: 45rem;
    width: 100%;
    margin: 8rem auto 4rem;
    &::before {
      background: map-get($grayscale, white);
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      top: -2rem;
      left: 0;
      height: 15rem;       
      transform: skewY(-2.2deg);
      z-index: -1;
    }
    &__title {
      font: normal normal bold 3.7rem/5.1rem Tiempos Headline;
      flex-direction: row;
      justify-content: space-between;
      hr:first-child {
        display: block;
      }
      hr {
        width: 20%;
      }
    }
  }
}
