@import '../../config/variables';

.cardCategories {
  border-radius: 29px;
  padding-bottom: 2rem;
  position: relative;

  &__top {
    align-items: center;
    background: map-get($grayscale, black);
    border-bottom: 8px solid transparent;
    border-radius: 3rem 3rem 0 0;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    padding: 1.4rem 4rem 0.7rem;
    text-align: center;
    &.export {
      border-color: map-get($categories, export);
    }
    &.environment {
      border-color: map-get($categories, environment);
    }
    &.client {
      border-color: map-get($categories, client);
    }

    &.digital {
      border-color: map-get($categories, digital);
    }
    &.master {
      border-color: map-get($categories, master);
    }
    &.student {
      border-color: map-get($categories, student);
    }
    &.social {
      border-color: map-get($categories, social);
    }
    &.leader {
      border-color: map-get($categories, leader);
    }
    &.humanResourses {
      border-color: map-get($categories, humanResourses);
    }
    &.innovation {
      border-color: map-get($categories, innovation);
    }
    &.community {
      border-color: map-get($categories, community);
    }
    &__image {
      height: 7rem;
      width: 6.5rem;
      img {
        height: auto;
        object-fit: contain;
        width: 100%;
      }
    }
    &__title {
      color: map-get($grayscale, white);
      font: bold 2.4rem / 2.6rem $font-secondary;
    }
  }
  &__title {
    color: map-get($grayscale, white);
    font: bold 2.4rem / 2.6rem $font-secondary;
  }
  &__detail {
    background: map-get($grayscale, white);
    color: map-get($grayscale, gray-25);
    border-radius: 0 0 3rem 3rem;
    font: 400 1.6rem / 2rem $font-primary;
    padding: 2.8rem 3rem 4.5rem;
    p {
      display: -webkit-box;
      -webkit-line-clamp: 8;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

  &__seeMore {
    border: none;
    background: map-get($grayscale, black);
    border-radius: 0.8rem;
    color: map-get($grayscale, white);
    padding: 0.7rem 3.1rem;
    position: absolute;
    bottom: 1rem;
    font: bold 1.3rem / 1.8rem $font-primary;
    left: 50%;
    transform: translateX(-50%);
  }
}
