@import '../../config/variables';
@import '../../config/mixins';

.cardCategories {
  border-radius: 29px;
  padding-bottom: 2rem;
  position: relative;

  &__top {
    align-items: center;
    background: map-get($grayscale, black);
    border-radius: 3rem 3rem 0 0;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    padding: 1.4rem 4rem 2rem;
    position: relative;
    text-align: center;
    .colorCategory {
      bottom: 0;
      left: 0;
      position: absolute;
      width: 100%;
    }
    &.export {
      svg path.category { fill: map-get($categories, export); }
    }
    &.environment {
      svg path.category { fill: map-get($categories, environment); }
    }
    &.client {
      svg path.category { fill: map-get($categories, client); }
    }

    &.digital {
      svg path.category { fill: map-get($categories, digital); }
    }
    &.master {
      svg path.category { fill: map-get($categories, master); }
    }
    &.student {
      svg path.category { fill: map-get($categories, student); }
    }
    &.social {
      svg path.category { fill: map-get($categories, social); }
    }
    &.leader {
      svg path.category { fill: map-get($categories, leader); }
    }
    &.humanResourses {
      svg path.category { fill: map-get($categories, humanResourses); }
    }
    &.innovation {
      svg path.category { fill: map-get($categories, innovation); }
    }
    &.community {
      svg path.category { fill: map-get($categories, community); }
    }
    &__image {
      height: 7rem;
      width: 6.5rem;
      img {
        height: auto;
        object-fit: contain;
        width: 100%;
      }
    }
    &__title {
      color: map-get($grayscale, white);
      font: bold 2.4rem / 2.6rem $font-secondary;
    }
  }
  &__title {
    color: map-get($grayscale, white);
    font: bold 2.4rem / 2.6rem $font-secondary;
  }
  &__detail {
    background: map-get($grayscale, white);
    color: map-get($grayscale, gray-25);
    border-radius: 0 0 3rem 3rem;
    font: 400 1.6rem / 2rem $font-primary;
    padding: 2.8rem 3rem 4.5rem;
    p {
      display: -webkit-box;
      -webkit-line-clamp: 8;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
  &__seeMore {
    border: none;
    background: map-get($grayscale, black);
    border-radius: 0.8rem;
    color: map-get($grayscale, white);
    padding: 0.7rem 3.1rem;
    position: absolute;
    bottom: 1rem;
    font: bold 1.3rem / 1.8rem $font-primary;
    left: 50%;
    transform: translateX(-50%);
  }

  // Variant Modal
  &.modal {
    background: map-get($grayscale, white);
    margin-top: 13rem;
    padding-bottom: 2.8rem;    
    .cardCategories {
      width: 100%;
      &__top {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 3.1rem 1.6rem;
        padding: 9rem 2rem 2rem;
        &__title {
          max-width: calc(100% - 8.1rem);
        }
      }
      &__detail {
          color: map-get($grayscale, gray-50);
          padding: 1.2rem 2.9rem 2.1rem;
      }
      &__imgModal {
        left: 50%;
        margin: 0 auto 0;
        position: absolute;
        height: 19.5rem;
        top: -12rem;
        transform: translateX(-50%);
        width: 90%;
        z-index: 2;
        span {
          width: 100% !important;
          height: 100% !important;
        }
        img {
            height: 100%;
            object-fit: contain;
            object-position: center;
            width: 100%;
        }
        &.export {
          background: map-get($categories, export);
        }
        &.environment {
            background: map-get($categories, environment);
        }
        &.client {
            background: map-get($categories, client);
        }    
        &.digital {
            background: map-get($categories, digital);
        }
        &.master {
            background: map-get($categories, master);
        }
        &.student {
            background: map-get($categories, student);
        }
        &.social {
            background: map-get($categories, social);
        }
        &.leader {
            background: map-get($categories, leader);
        }
        &.humanResourses {
            background: map-get($categories, humanResourses);
        }
        &.innovation {
            background: map-get($categories, innovation);
        }
        &.community {
            background: map-get($categories, community);
        }
      }
      &__postulate {
        align-items: center;
        background: map-get($primary, general);
        border-radius: 8px;
        color: map-get($grayscale, white);
        display: flex;
        font: 700 2.1rem / 2.8rem $font-primary;
        gap: 8px;
        margin: auto;
        padding: .6rem 4.1rem;
        text-decoration: none;
        width: fit-content;
      }
    }
    @include mq-min(xl) {
      margin: 0;
      .cardCategories {
        &__imgModal {
          height: 32.2rem;
          left: -42.3rem;
          position: absolute;
          margin: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 42.3rem;
          img {
            object-position: center bottom;
          }
        }
        &__top {
          padding: 1.8rem;
        }
        &__detail {
          padding: 2rem 3rem;
        }
        &__postulate {
          margin: 0 5.3rem 0 auto;
        }
      }
    }
  }
}
