@import '../../config/variables';
@import '../../config/mixins';

.cardJudges {
  text-align: center;
  &__img {
    position: relative;
    height: auto;
    margin: 0 0 3.2rem;
    width: 92%;
    &::before {
      border: 0.4rem solid map-get($grayscale, white);
      content: '';
      position: absolute;
      height: calc(100% + 3rem);
      right: -1.6rem;
      top: 0;
      width: 16rem;
    }
    img {
      object-fit: cover;
      object-position: center;
    }
  }
  &__data {
    align-items: center;
    color: map-get($grayscale, black);
    display: flex;
    flex-direction: column;
    gap: 2.7rem;
    margin-top: 4.5rem;
  }
  &__name {
    background: map-get($grayscale, white);
    font: bold 1.6rem / 1.8rem $font-secondary;
    padding: 0.3rem 0.6rem;
    width: fit-content;
  }
  &__position {
    font: bold 2rem / 2.3rem $font-secondary;
  }
}

@include mq-min(xl) {
  .cardJudges {
    &__img {
      height: 18.8rem;
      width: 20.8rem;
    }
  }
}
