@import '../../config/variables';
@import '../../config/mixins';

.cardFile {
  align-items: center;
  background: #ccf8ff;
  border-radius: 0.8rem;
  border: 0.1rem, solid #92b4d1;
  display: flex;
  gap: 0.6rem;
  justify-content: space-between;
  padding: 0.22rem 0.8rem;
  &__contain {
    align-items: center;
    display: flex;
    gap: 0.6rem;
    button {
      background: none;
      border: none;
      cursor: pointer;
      outline: none;
    }
  }
  &__text {
    font: 400 1.2rem / 1.6rem $font-secondary;
  }
}
