@import '../config/variables'; 
@import '../config/mixins'; 

.financialTitle {
    align-items: flex-end;
    background: map-get($grayscale,gray-40);
    border-bottom: .7rem solid map-get($primary, general);
    color: map-get($grayscale, white);
    display: flex;
    gap: .5rem;
    font: 400 1.9rem / 1.9rem $font-secondary;
    margin-left: -2rem;
    padding: 1.1rem;
    place-content: center;
    text-align: center;
    width: calc(100% + 4rem);
    h3 { font-weight: 400; }
    @include mq-min(md) {
        margin: 0 auto;
        width: 100%;
    }
}
